:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.75;
  font-weight: 400;

  background: #252525;
  color: #fafafa;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 16px;
}

body {
  margin: 0;
}

body::before {
  content: "";
  display: block;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow:
    0 0 150px 100px rgba(184, 172, 172, 0.1),
    0 0 220px 180px rgba(105, 27, 105, 0.1),
    0 0 300px 240px rgba(49, 212, 212, 0.1);
  position: fixed;
  left: 50%;
  top: 50%;
  pointer-events: none;
}

hr  {
  margin-bottom: 3em;
  margin-top: 3em;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}

h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h3, h4 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

ul {
  margin-top: 0;
  margin-bottom: 1.25em;
}

ul p {
  margin: 0;
}

ul ul {
  margin: 0;
}

ul li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

a {
  color: #7ab7ff;
  text-decoration: none;
  transition: color 0.15s ease-in-out;
}

a:hover {
  color: #5e83b3;
}

@media print {
  @page {
    margin: 0;
    size: A4
  }

  .no-print {
    display: none !important;
  }

  :root {
    background: #fafafa;
    color: #252525;
    font-size: 14px;
  }

  body::before {
    display: none;
  }

  hr {
    display: none;
  }

  main > div {
    padding-top: 10px !important;
  }

  ul li {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
  }
}
