:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.75;
  font-weight: 400;

  background: #2f2f2f;
  color: #f9f9f9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr  {
  margin-bottom: 3em;
  margin-top: 3em;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}

h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h3, h4 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

ul {
  margin-top: 0;
  margin-bottom: 1.25em;
}

ul p {
  margin: 0;
}

ul ul {
  margin: 0;
}

ul li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

a {
  color: #7ab7ff;
  text-decoration: none;
  transition: color 0.15s ease-in-out;
}

a:hover {
  color: #5e83b3;
}

@media print {
  @page {
    margin: 0;
    size: A4
  }
}
